@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

:root {
    --section-1-bg: #0C5D8B;
    --section-2-bg: #2D2D2D;
    --section-3-bg: #5F5263;
    --section-4-bg: #FF9A02;
}
body {
    background-color: var(--section-1-bg);
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: Londrina Solid;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgb(15, 15, 15);
}
a {
    color: inherit;
    text-decoration: inherit;
}
section {
    position: relative;
    min-height: 100vh;
}
.section-content {
    position: relative;
    top: -3vw;
    width: 100%;
}
.giant-headline {
    position: relative;
    top: -3vw;
    width: 100%;
}

#section-1 {
    background-color: var(--section-1-bg);
    background-image: radial-gradient(ellipse at 50% 0%,#1179b6, 45%, transparent, 90%, transparent);
    background-size: 100% calc(100vh - 3vw);
    background-repeat: no-repeat;
    width: 100vw;
}
/* #section-1::before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-image: url(../assets/svg/enjoy-internet.svg);
    background-size: 250px;
    background-attachment: fixed;
    filter: hue-rotate(180deg) brightness(45%) opacity(60%) blur(2px);
} */
    #section-1-splash {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100vh;
        width: 100vw;
        z-index: 1;
        perspective: 1000px;
        perspective-origin: center;
    }
        #guy-using-phone {
            position: absolute;
            top: 50%;
            left: 53%;
            transform: translate(-50%, -50%);
            /* height: 120vh; */
        }
        @keyframes bobhead {
            0% {
                transform: rotate(0deg);
            }
            50% {
                transform: rotate(3deg);
            }
            66% {
                transform: rotate(3deg);
            }
        }
        #using-phone-head {
            transform-origin: 20% 23%;
            animation: bobhead 5s ease-in-out normal infinite;
        }
        /* @keyframes phone-screen {
            0% {
                filter: hue-rotate(0deg);
            }
            25% {
                filter: hue-rotate(120deg);
            }
            49% {
                filter: hue-rotate(160deg);
            }
            50% {
                filter: hue-rotate(180deg);
            }
            75% {
                filter: hue-rotate(240deg);
            }
            99% {
                filter: hue-rotate(260deg);
            }

        }
        #path94480 {
            fill: #b38d50;
            filter: hue-rotate(0deg);
            animation: phone-screen 1.2s normal infinite;
        } */
        #enjoy-internet {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: 
                    translate(-45%, -40%)
                    rotateX(15deg)
                    rotateY(15deg)
                    scale(0.7)
                    translateZ(20px)
                ;
            transform-origin: top left;
            transition: 1s cubic-bezier(.3,.87,.33,.93);
            width: 622px;
            z-index: 1;
        }
        #enjoy-internet-behind {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: 
                    translate(-45%, -40%)
                    rotateX(15deg)
                    rotateY(15deg)
                    scale(0.7)
                    translateZ(-20px)
                ;
            transform-origin: top left;
            transition: 1s cubic-bezier(.3,.87,.33,.93);
            width: 622px;
            filter: brightness(100%) blur(3px) hue-rotate(180deg);
            opacity: 0;
            z-index: -1;
        }
        
    /* #section-1-splash::after {
        content: '';
        position: absolute;
        top: 100vh;
        width: 100vw;
        height: 100vh;
    } */

        

#section-2 {
    background-color: var(--section-2-bg);
    perspective: 400px;
    perspective-origin: 50% 40%;
}
    #portfolio-slider {
        background-image: linear-gradient(to bottom, var(--section-2-bg) 25%, #050505 80%, #f7f7f7 100%);
        background-size: 100% calc(58vh + 32px);
        background-repeat: no-repeat;
        background-color: #eeeeee;
        position: relative;
        margin-top: 1rem;
        display: flex;
        gap: 70px;
        padding: 16px 16px 0px 16px;
        overflow-x: scroll;
    }
        .portfolio-img-container {
            position: relative;
            height: 58vh;
            transform-origin: bottom;
        }
        #portfolio-slider img {
            position: relative;
            z-index: 1;
            height: inherit;
            border: 1px solid;
            border-top-color: whitesmoke;
            border-left-color: rgb(150, 150, 150);
            border-right-color: rgb(150, 150, 150);
            border-bottom-color: rgb(97, 100, 128);
            transform: rotate3d(1, 0, 0, 7deg);
            transform-origin: inherit;
            transition: .2s ease-in-out;
        }
        .portfolio-img-shadow {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 0;
            background-color: rgba(2, 2, 2, 0.5);
            transform: rotate3d(1, 0, 0, 90deg);
            transform-origin: inherit;
            transition: .2s ease-in-out;
        }
        .portfolio-side-filler {
            height: 58vh;
            min-width: 1vw;
        }
        .portfolio-more-info {
            position: relative;
            width: 90%;
            left: 50%;
            opacity: 1;
            transform: translate3d(-50%, 0%, 0);
            transition: .2s linear;
        }
            .portfolio-more-info h1 {
                font-weight: 400;
            }
            .portfolio-more-info p {
                font-family: Patua One;
            }
            .portfolio-more-info p:last-of-type {
                font-size: 0.7em;
            }
        @keyframes popup-image {
            to {
                height: 80vh;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
        .popup-image {
            animation: popup-image 1s forwards;
        }
        @keyframes popup-img-div {
            to {
                background-color: #000000bf;
            }
        }
        .popup-img-div {
            cursor: pointer;
            animation: popup-img-div 1s forwards;
        }
    #section-2-filler-below {
        background-image: linear-gradient(to top, var(--section-2-bg) 50%, #050505 100%);
        height: 100px;
    }



#section-3 {
    background-color: var(--section-3-bg);
}
    #section-3-content {
        display: flex;
        gap: 100px;
        justify-content: center;
    }
        #about-me-textbox {
            width: 550px;
            margin-top: 8vw;
            margin-left: 5vw;
            font-family: Londrina Solid;
            font-style: normal;
            font-weight: normal;
            font-size: 1.77rem;
            line-height: 2.11rem;

            color: #F5D0C0;
        }
        #oscar-dfp-svg {
            transform: translateY(-15%);
            margin-right: 5vw;
        }



#section-4 {
    background-color: var(--section-4-bg);
}
#section-4::before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-image: url(../assets/svg/duva-exp-2.svg);
    background-size: 250px;
    background-attachment: fixed;
    filter: hue-rotate(180deg) brightness(50%) opacity(50%);
}
    #letter {
        perspective: 1000px;
        perspective-origin: center;
        width: 80vw;
        max-width: 1194px;
        height: calc(80vw * 0.545);
        max-height: calc(1194px * 0.545);
        background-color: #F8F8F8;
        margin-top: 5rem;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        border: 4px solid #303030;
    }
        #dove {
            position: absolute;
            left: -5%;
            top: -30%;
            width: 70%;
            transform-origin: center;
            transition: 1s ease-out;
            filter: drop-shadow(0 0 20px #00000028);
        }
        #letter-content {
            height: 100%;
            width: 100%;
            font-size: 2rem;
        }
            #letter-addresses {
                position: absolute;
                left: 50%;
                bottom: 25%;
            }
            #letter-addresses > p:first-of-type {
                margin-top: 0;
            }
            #letter-addresses > p:last-of-type {
                margin-bottom: 0;
            }
            #stamp {
                position: absolute;
                right: 0;
                top: 0;
                border: 0.2em dashed #303030;
                height: 22%;
                width: 9%;
                margin: 3.5%;
            }



@media only screen and (max-width: 1439px) {
    #section-4::before {
        background-size: 20vw;
    }
}
@media only screen and (max-width: 1135px) {
    #section-3-content {
        gap: 2vw;
    }
    #oscar-dfp-svg {
        height: 100vh;
    }
    #letter-addresses {
        left: 0%;
        bottom: 0%;
        margin: 3.5%;
    }
    #dove {
        top: -70%;
        left: 1%;
    }
}
@media only screen and (max-width: 1025px) {
    #about-me-textbox {
        width: 25%;
    }
    #oscar-dfp-svg {
        height: initial;
        width: 60vw;
    }
}
@media only screen and (max-width: 927px) {
    #section-3-content {
        flex-direction: column;
    }
    #about-me-textbox {
        position: initial;
        width: initial;
        margin: 3vw;
    }
    #oscar-dfp-svg {
        transform: initial;
        margin-right: initial;

        margin-bottom: 15vw;
        width: 50vw;
        height: initial;
        align-self: center;
        transform: translateX(3vw);
    }
}
@media only screen and (max-width: 656px) {
    #letter {
        height: 50vh;
        width: 90vw;
        margin-top: initial;
        position: absolute;
        left: initial;
        top: 5rem;
        right: 10vw;
        transform: initial;
    }
    #stamp {
        height: 12vh;
        width: 9vh;
    }
    #dove {
        top: -20vw;
        left: initial;
        right: 15vw;
        width: 70vw;
        z-index: 2;
    }
    #letter-content {
        font-size: 1.2rem;
    }
    #letter-addresses {
        top: 50%;
        bottom: initial;
        margin: 3.5%;
    }
}