@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
:root {
    --section-1-bg: #0C5D8B;
    --section-2-bg: #2D2D2D;

    --divider-height: 50px;
}
body {
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: Londrina Solid;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgb(15, 15, 15);
}
a {
    color: inherit;
    text-decoration: inherit;
}
section {
    position: relative;
    min-height: 100vh;
}
.giant-headline, .section-content {
    position: relative;
    top: calc(-1 * var(--divider-height) * 1.2);
    top: -40px;
    width: 100%;
}
.section-divider {
    border-bottom: var(--divider-height) solid;
    border-left: 100vw solid;
}
#section-1 {
    background-color: var(--section-1-bg);
}
    #section-1-splash {
        position: absolute;
        top: 50%;
        left: 51%;
        transform: translate(-50%, -50%);
        width: 622px;
        height: 100vh; /* 633px */
        z-index: 1;
    }
        #guy-using-phone {
            position: absolute;
            top: 50%;
            left: 53%;
            transform: translate(-50%, -50%);
            height: 120vh;
        }
        #enjoy-internet {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
        }
#section-divider-1-2 {
    border-left-color: var(--section-1-bg);
    border-bottom-color: var(--section-2-bg);
}
#section-2 {
    background-color: var(--section-2-bg);
    perspective: 200px;
    perspective-origin: center;
}
    #portfolio-slider {
        background-image: linear-gradient(to bottom, var(--section-2-bg) 25%, #050505 70%, rgb(255, 249, 235) 100%);
        background-image: linear-gradient(to bottom, var(--section-2-bg) 25%, #050505 70%, #FF9A02 100%);
        background-image: linear-gradient(to bottom, var(--section-2-bg) 25%, #050505 70%, #f7f7f7 100%);
        background-size: 100% calc(58vh + 32px);
        background-repeat: no-repeat;
        background-color: rgba(255, 249, 235, 0.863);
        background-color: #FF9A02;
        background-color: #eeeeee;
        position: relative;
        margin-top: 1rem;
        /* height: 58vh; */
        display: flex;
        gap: 70px;
        padding: 16px 16px 32px 16px;
        overflow-x: scroll;
    }
        #portfolio-slider img {
            position: relative;
            z-index: 1;
            height: 58vh;
            border: 1px solid;
            border-top-color: whitesmoke;
            border-left-color: rgb(150, 150, 150);
            border-right-color: rgb(150, 150, 150);
            border-bottom-color: rgb(97, 100, 128);
            transform: rotate3d(1, 0, 0, 3deg)/*  translate3d(0,40px,-20px) */;
            transform-origin: bottom;
            transition: .2s ease-in-out;
        }
        #portfolio-slider img:hover {
            transform: rotate3d(0, 0, 0, 3deg)/*  translate3d(0,0,0) */;
            position: relative;
            z-index: 2;
            filter: drop-shadow(0px -20px 20px var(--section-2-bg));
            cursor: pointer;
        }
        .portfolio-side-filler {
            height: 58vh;
            min-width: 1vw;
        }
        .portfolio-more-info {
            position: relative;
            width: 90%;
            left: 50%;

            /* opacity: 0;
            transform: translate3d(-50%, -130%, 0) rotate3d(1, 0, 0, 3deg); */
            opacity: 1;
            transform: translate3d(-50%, 0%, 0);
            
            transition: .2s linear;
        }
            .portfolio-more-info h1 {
                font-weight: 400;
            }
            .portfolio-more-info p {
                font-family: Patua One;
            }
            .portfolio-more-info p:last-of-type {
                font-size: 0.7em;
            }
        /* js-controlled classes */
        /* .portfolio-more-info-hover {
            transform: translate3d(-50%, 0%, 0) rotate3d(0, 0, 0, 3deg);
            opacity: 1;
        } */
        @keyframes popup-image {
            to {
                height: 80vh;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
        .popup-image {
            animation: popup-image 1s forwards;
        }
        @keyframes popup-img-div {
            to {
                background-color: #000000bf;
            }
        }
        .popup-img-div {
            cursor: pointer;
            animation: popup-img-div 1s forwards;
        }
