:root {
    --section-1-bg: #0C5D8B;
    --section-2-bg: #2D2D2D;

    --divider-height: 50px;
}
body {
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
section {
    position: relative;
    min-height: 100vh;
}
.giant-headline, .section-content {
    position: relative;
    top: calc(-1 * var(--divider-height) * 1.2);
    width: 100%;
}
.section-divider {
    border-bottom: var(--divider-height) solid;
    border-left: 100vw solid;
}
#section-1 {
    background-color: var(--section-1-bg);
}
    #section-1-splash {
        position: absolute;
        top: 50%;
        left: 51%;
        transform: translate(-50%, -50%);
        width: 622px;
        height: 100vh; /* 633px */
        z-index: 1;
    }
        #guy-using-phone {
            position: absolute;
            top: 50%;
            left: 53%;
            transform: translate(-50%, -50%);
            height: 120vh;
        }
        #enjoy-internet {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
        }
#section-divider-1-2 {
    border-left-color: var(--section-1-bg);
    border-bottom-color: var(--section-2-bg);
}
#section-2 {
    background-color: var(--section-2-bg);
}
    #portfolio-slider-outer {
        /* background-color: #b1b1b1;
        background-color: inherit; */
        /* background-image: linear-gradient(to bottom, rgb(255, 249, 235) 40%, #222222 76%, rgb(94, 94, 94) 93%, rgb(255, 249, 235)); */
        background-image: linear-gradient(to bottom, var(--section-2-bg) 25%, #050505 70%, rgb(94, 94, 94) 74%, rgb(255, 249, 235) 91%);
        position: relative;
        margin-top: 1rem;
        perspective: 200px;
        perspective-origin: bottom;
    }
    /* #portfolio-slider-outer::before {
        content: "";
        position: absolute;
        top: 0;
        left: -8px;
        right: -8px;
        height: 26px;
        z-index: 1;
        box-shadow: inset 0px 12px 12px rgba(58, 58, 58, 0.664)
    } */
        #portfolio-slider-inner {
            height: inherit;
            display: flex;
            gap: 16px;
            padding: 16px 16px 32px 16px;
            overflow-x: scroll;
        }
        #portfolio-slider-inner > img {
            height: 58vh;
            /* box-shadow: 0px 6px 12px rgba(53, 53, 53, 0.842); */
            border: 1px solid;
            border-top-color: whitesmoke;
            border-left-color: rgb(150, 150, 150);
            border-right-color: rgb(150, 150, 150);
            border-bottom-color: rgb(97, 100, 128);
            border-bottom-width: 10px;
            transform: rotate3d(1, 0, 0, 3deg);
            transform-origin: bottom;
            transition: .1s ease-out;
        }
        #portfolio-slider-inner > img:hover {
            transform: rotate3d(0, 0, 0, 3deg);
            border-width: 1px;
            position: relative;
            z-index: 1;
            filter: drop-shadow(0px 0px 40px var(--section-2-bg));
        }
        .portfolio-side-filler {
            height: 58vh;
            min-width: 5vw;
        }